src/main/java/com/restService/service/ws/soap/branch/BranchInqServices.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://branchInquiry.isc.co.ir/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://branchInquiry.isc.co.ir/" name="BranchInquirySoapImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://192.168.161.69:4141/axis2/services/BranchInqServices?xsd=1"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://branchInquiry.isc.co.ir/" schemaLocation="http://192.168.161.69:4141/axis2/services/BranchInqServices?xsd=2"></xsd:import>
</xsd:schema>
</types>
<message name="BranchInqServicesHttpSoap12Endpoint">
<part name="baseDate" type="xsd:string"></part>
<part name="id" type="xsd:string"></part>
</message>
<message name="BranchInqServicesHttpSoap12EndpointResponse">
<part name="return" type="tns:branchArray"></part>
</message>
<message name="getBranchesInfo">
<part name="baseDate" type="xsd:string"></part>
<part name="id" type="xsd:string"></part>
</message>
<message name="getBranchesInfoResponse">
<part name="return" type="tns:branchArray"></part>
</message>
<message name="getBranchesInfoStr">
<part name="baseDate" type="xsd:string"></part>
<part name="id" type="xsd:string"></part>
</message>
<message name="getBranchesInfoStrResponse">
<part xmlns:ns1="http://jaxb.dev.java.net/array" name="return" type="ns1:stringArray"></part>
</message>
<portType name="BranchInquirySoapInterface">
<operation name="BranchInqServicesHttpSoap12Endpoint" parameterOrder="baseDate id">
<input wsam:Action="http://branchInquiry.isc.co.ir/BranchInquirySoapInterface/BranchInqServicesHttpSoap12EndpointRequest" message="tns:BranchInqServicesHttpSoap12Endpoint"></input>
<output wsam:Action="http://branchInquiry.isc.co.ir/BranchInquirySoapInterface/BranchInqServicesHttpSoap12EndpointResponse" message="tns:BranchInqServicesHttpSoap12EndpointResponse"></output>
</operation>
<operation name="getBranchesInfo" parameterOrder="baseDate id">
<input wsam:Action="http://branchInquiry.isc.co.ir/BranchInquirySoapInterface/getBranchesInfoRequest" message="tns:getBranchesInfo"></input>
<output wsam:Action="http://branchInquiry.isc.co.ir/BranchInquirySoapInterface/getBranchesInfoResponse" message="tns:getBranchesInfoResponse"></output>
</operation>
<operation name="getBranchesInfoStr" parameterOrder="baseDate id">
<input wsam:Action="http://branchInquiry.isc.co.ir/BranchInquirySoapInterface/getBranchesInfoStrRequest" message="tns:getBranchesInfoStr"></input>
<output wsam:Action="http://branchInquiry.isc.co.ir/BranchInquirySoapInterface/getBranchesInfoStrResponse" message="tns:getBranchesInfoStrResponse"></output>
</operation>
</portType>
<binding name="BranchInquiryPortBinding" type="tns:BranchInquirySoapInterface">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="BranchInqServicesHttpSoap12Endpoint">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://branchInquiry.isc.co.ir/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://branchInquiry.isc.co.ir/"></soap:body>
</output>
</operation>
<operation name="getBranchesInfo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://branchInquiry.isc.co.ir/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://branchInquiry.isc.co.ir/"></soap:body>
</output>
</operation>
<operation name="getBranchesInfoStr">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://branchInquiry.isc.co.ir/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://branchInquiry.isc.co.ir/"></soap:body>
</output>
</operation>
</binding>
<service name="BranchInquirySoapImplService">
<port name="BranchInquiryPort" binding="tns:BranchInquiryPortBinding">
<soap:address location="http://192.168.161.69:4141/axis2/services/BranchInqServices"></soap:address>
</port>
</service>
</definitions>